
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* overflow: hidden; */
}

#root {
  overflow: hidden;
}

/* toastyfy */

/* admin page  */

.admin-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 0px;

}

.admin-users,
.admin-contacts,
.admin-admins {
  width: 20vw;
  min-height: 60vh;
  margin: auto;
  transition: 0.3s ease-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;

  &:hover {

    transform: translateY(-20px);

  }

  figure {

    border-bottom: 2px solid #789DBC;

    img {

      width: 20vw;

    }

  }
  .users-text, .contacts-text, .admins-text{

    margin-top: 10px;
    
    p{
      font-size: 20px;
      font-weight: 500; 
      text-align: center;
    }

  }



}

.admin-users{

  figure{

    overflow: hidden;

    img{

      width: 20vw;
      height: 29vh;

    }

  }
}

.admin-btn{
  max-width: fit-content;
  margin: 100px auto 0px auto;
  a{
    text-decoration: none;
    background-color: #789DBC;
    padding: 12px 25px;
    color: #ffffff;
    border: 2px solid #789DBC;
    transition: 0.2s ease-in;
    border-radius: 5px;
   

    &:hover{
      background-color: #ffffff;
      border: 2px solid #789DBC;
      color: #789DBC;
    }
  }

}




/* admin users page scss  */
.admin-user-container {
  margin-top: 50px;
  margin-bottom: 100px;

  .admin-user-heading {
    margin-bottom: 30px;
    margin-left: 125px;

    span {
      font-size: 50px;
      font-weight: 800;
      text-transform: uppercase;
      color: #ffffff;
      -webkit-text-stroke: 1px #000000;

    }
  }
}


.admin-user-table {
  overflow: auto;
  width: 85%;
  border-radius: 5px;
  margin: auto;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.admin-user-table table {
  /* border: 2px solid #0000001b; */
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
  border-top-right-radius: 10px;
}



.admin-user-table th {
  background-color: #0000000d;
  color: #000000;
  font-weight: 600;
  padding: 30px;
  border-top: none;
}

.admin-user-table td {
  border-top: 2px solid #0000000c;
  background-color: #ffffff;
  color: #000000;
  padding: 25px 15px 25px 15px;

}

/* btn to update & delete user from admin  */
/* #B00020 red */
/* #6200EE blue */

.btn-table {
  background-color: #789DBC;
  color: #ffffff;
  padding: 7px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.1s;
  border: 2px solid #789DBC;

  &:hover {
    background-color: #ffffff;
    border: 2px solid #789DBC;
    color: #789DBC;
  }

  &:focus {
    border: 3px solid #8a86cc;
    padding: 7px 15px;
  }
}



.btn-update-user {
  background-color: #00000025;
  color: #000000;
  /* border: 2px solid #000000; */
  transition: 0.1s;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}






/* responsive design for register and login */

@media screen and (max-width: 1150px) {
  /*login-page*/

  .box {
    width: 40%;
    box-shadow: none;
    margin: 20px auto 120px auto;

    .form-login {

      input {
        width: 26.5vw;
        margin: auto;
      }

      .email,
      .password {
        max-width: 72%;
        margin: 30px auto 30px auto;
      }

      .password {
        margin-bottom: 10px;
      }

      .btn-login {
        margin: 20px auto 50px auto;

        .btn {
          transition: none;
          border: 3px solid #FFFFFF;

          &:focus {
            border: 3px solid #c49cfb;
          }
        }
      }

      .forget-password {
        margin: 10px auto;
        max-width: 72%;
      }
    }
  }

  /*register-page */

 .box-reg {
    box-shadow: none;
    width: 40%;
    margin: 20px auto 120px auto;

    input {
      width: 26vw;
      margin: auto;
    }

    .reg-form {

      .reg-email,
      .reg-password,
      .username {
        max-width: 72%;
        margin: 0px auto 20px auto;
      }

      .reg-btn {
        max-width: 74%;

        .rbtn {
          transition: none;
          border: 3px solid #FFFFFF;

          &:focus {
            border: 3px solid #c49cfb;
          }
        }
      }

    }

  }

}


@media screen and (max-width: 768px) {

  .box {
    width: 90%;
    box-shadow: none;
    margin-top: 20px;

    .form-login {

      input {
        width: 60vw;
        margin: auto;
      }

      .email,
      .password {
        max-width: 72%;
        margin: 30px auto 30px auto;
      }

      .password {
        margin-bottom: 10px;
      }

      .btn-login {
        margin: 20px auto 50px auto;

        .btn {
          transition: none;
          border: 3px solid #FFFFFF;

          &:focus {
            border: 3px solid #c49cfb;
          }
        }
      }

      .forget-password {
        margin: 10px auto;
        max-width: 72%;
      }
    }
  }

  /*register-page */

  .box-reg {
    box-shadow: none;
    width: 90%;
    margin: 20px auto 120px auto;
    input {
      width: 60vw;
      margin: auto;
    }

    .reg-form {

      .reg-email,
      .reg-password,
      .username {
        max-width: 72%;
        margin: 0px auto 20px auto;
      }

      .reg-btn {
        max-width: 72%;

        .rbtn {
          transition: none;
          border: 3px solid #FFFFFF;

          &:focus {
            border: 3px solid #c49cfb;
          }
        }
      }

    }

  }


}

@media screen and (max-width: 400px) {

  .box {
    width: 100%;
    box-shadow: none;
    margin-top: 10px;

    .form-login {

      input {
        width: 85vw;
        margin: auto;
      }

      .email,
      .password {
        max-width: 95%;
        margin: 30px auto 30px auto;
      }

      .password {
        margin-bottom: 10px;
      }

      .btn-login {
        margin: 20px auto 50px auto;
        max-width: 95%;

        .btn {
          transition: none;

          &:focus {
            border: 3px solid #c49cfb;
          }
        }
      }

      .forget-password {
        margin: 10px auto;
        max-width: 95%;
      }
    }
  }

  /*register-page*/


 .box-reg {
    box-shadow: none;
    max-height: 70vh;
    width: 100%;
    margin: 50px auto 120px auto;
    
    input {
      width: 85vw;
      margin: auto;
    }

    .reg-form {
      margin: 20px auto 0px auto;
      
      .reg-email,
      .reg-password,
      .username {
        max-width: 92%;
        margin: 0px auto 20px auto;
      }

      .reg-btn {
        max-width: 94%;
        margin: auto;
        .rbtn {
          transition: none;
          border: 3px solid #FFFFFF;

          &:focus {
            border: 3px solid #c49cfb;
          }
        }
      }

    }

  }

}

/* error responsive page   */

@media screen and (max-width: 1150px){

  .container-error{
    margin: 90px auto 70px auto;
    .left-box-error{
      margin: 5px;
      img{
        width: auto;
        height: 50vh;
      }
    }

    .right-box-error{
      
      .error-404{
        img{
          width: auto;
          height: 30vh;
        }

        p{
          width: auto;
        }

      }

      ul{

        li{

          a{
            border: 3px solid #FFFFFF;

            &:focus{
              border: 3px solid #c49cfb;
            }
          }

        }
      }

    }
  }

}

@media screen and (max-width: 400px){
  
  .container-error{
    display: block;
    margin: 10px auto 250px auto;
    .left-box-error{
      margin: auto;
     
      img{
        width: 90vw;
        height: 37vh;
      }
    }

    .right-box-error{
      max-width: 100vw;
      margin: auto;
      
      .error-404{
        margin: auto;
        max-height: 40vh;

        img{
          width: 90vw;
          height: 25vh;
        }

        p{
          width: 80vw;
        }

      }

      ul{

        li{

          a{
            border: 3px solid #FFFFFF;

            &:focus{
              border: 3px solid #c49cfb;
            }
          }

        }
      }

    }
  }

}



/* contact-page responsive design  */

@media screen and (max-width: 1000px){

  .container-contact{
    margin-top: 100px;
    
    .box-contact-img{
      margin-left: auto;
      max-width: 35rem;
      img{
        width: 30rem;
        height: 30rem;
      }
    }

    .box-contact-form{
      margin-left: 40px;
      min-width: 45vw;

      input{
        width: 30vw;
      }

      textarea{
        width: 40vw;
      }

      .btn-contact{

        button{
          border: 3px solid #ffffff;
          
          &:focus{
            border: 3px solid #c49cfb;
          }
        }
      }
      
    }
  }

}

@media screen and (max-width: 895px) {
  .heading-contact{
    margin: 50px 10px 0px 20px;
  }
  .container-contact {
    display: block;
    max-width: 100%;
    margin-top: 0px;

    .box-contact-img{
      margin: auto;
      max-width: 100%;
      
      img{
        margin: auto auto;
        width: auto;
        height: 20rem;
      }
    }

    .box-contact-form{
      
      margin: auto;
      max-width: 90%;


      input{
        width: 80vw;
      }

      textarea{
        height: 20vh;
        width: 84vw;
      }

      .username-contact, .email-contact, .message-contact{
        margin-bottom: 20px;
      }
    }


  }
}

 
