$white: #FFFFFF;
$blue: #6200EE;
$red: #B00020;
$dark-brown: #7e2828;

:root{
    background-color: $white;
    text-rendering: optimizeSpeed;
}


#box-navbar{
    overflow: visible;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    max-width: 1400px;
    margin: 10px auto;
    
    #logo-box{
        margin: 0 130px 0 40px;
        padding: 0 20px;
        #logo{
            color: $white;
            font-size: 30px;
            font-weight: 900;
            text-decoration: none;
            -webkit-text-stroke: $dark-brown 1px;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding: 1px 2px 1px 5px;   
            border: 2px solid $white;
            transition: 0.3s ease-in-out;
        }
    }

    #login-reg-box{
        display: flex;
        margin-left: 120px;
        margin-right: 50px;
        padding: 5px 20px 13px;
        border-radius: 100px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        ul{
            margin: 10px 8px 3px 8px;
            display: flex;
            background-color: $white;
            gap: 15px;
            
            li{
                list-style: none;
                a{
                    max-width: fit-content;
                    text-decoration: none;
                    color: $dark-brown;
                    position: relative;

                    &:not(.register)::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -4px;
                        left: 0;
                        background-color: $blue;
                        transition: width 0.3s ease;
                    }

                    &:not(.register):hover::after {
                        width: 100%;
                    }
                }

                .register{
                    background-color: $dark-brown;
                    color: $white;
                    padding: 11px;
                    text-wrap: nowrap;
                    border-radius: 100px;
                    position: relative;
                    right: -10%;
                }
            }
        }
    }

    .nav-links{
        display: flex;
        border-radius: 100px;
        padding: 13px 20px;
        margin: 0 auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
        li{
            flex-direction: row;
            list-style: none;
            margin: auto 20px;

            a{
                text-decoration: none;
                color: $dark-brown;
                transition: 0.4s;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    background-color: $blue;
                    transition: width 0.3s ease;
                }

                &:hover{
                    color: $blue;
                }

                &:hover::after {
                    width: 100%;
                }

            }
        }
    }
}

