$primary-background-color: #FFFFFF;
$primary-text-color: #6200EE;
$secondary-background-color: #B00020;
$secondary-text-color: #7e2828;



.container-register {
    background-color: $primary-background-color;
    max-height: 72vh;
    max-width: 33vw;
    margin: 70px auto 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 20px -9px $secondary-text-color;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;

    .box-reg-left {
        background-color: $primary-background-color;
        min-height: 72vh;
        width: 33vw;
        margin-left: 0px;
        border-radius: 15px;

        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            width: 18vw;
            outline: none;
            padding: 10px 20px 10px 5px;
            border: 2px solid $secondary-text-color;
            font-size: 15px;
            font-weight: 500;
            border-radius: 5px;
            color: $secondary-text-color;

            &::placeholder {
                color: $secondary-text-color;
                position: relative;
                left: 0;
                font-family: "Poppins", sans-serif;
            }

            &:focus {
                border: 2px solid #c49cfb;
            }
        }

        h1 {
            margin: auto;
            margin-top: 20px;
            max-width: fit-content;
            font-weight: 700;
            font-size: 35px;
            color: $secondary-text-color;
        }

        .reg-form {
            margin-top: 50px;

            .username {
                max-width: fit-content;
                margin: auto;
                margin-bottom: 40px;
            }

            .reg-email {
                max-width: fit-content;
                margin: auto;
                margin-bottom: 40px;
            }

            .reg-password {
                max-width: fit-content;
                margin: auto;
                margin-bottom: 40px;
            }

            .reg-btn {
                max-width: 30%;
                margin: 10px auto 0px auto;

                .rbtn {
                    padding: 7px 20px;
                    color: $primary-background-color;
                    border-radius: 5px;
                    font-size: 20px;
                    width: 100%;
                    font-family: "Poppins", sans-serif;
                    background: linear-gradient(to right,
                            #000000 0%,
                            #7e2828 50%,
                            #000000 50%,
                            #7e2828 100%);
                    background-size: 200% 100%;
                    background-position: 0% 0%;
                    transition: background-position 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: $primary-background-color;
                        background-position: 100% 0%;
                    }
                }
            }
        }
    }

}
